<!-- head para PC -->
{% extends "favoritos/base_favoritos.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center" style="margin-top: 1em;">
        <!-- bloque de datos de usuario -->
        <div class="cell small-12 large-4">
            <div class="callout">
                <h5>{{ user.full_name }}</h5>
                <p>{{user}} - {{user.ocupacion}}</p>
                <p>{{user.date_birth}}</p>
                <a href="#">Editar perfil</a>                
            </div>
        </div>
        <!-- FIN bloque de datos de usuario -->


        <!-- bloque de articulos favoritos de usuario -->
        <div class="cell large-8 grid-x grid-margin-x align-center">
            <div class="cell small-12">
                
                {% for favorito in favoritos %}
                    <div class="card-favoritos">
                        <img class="card-favoritos-img" src="{{ favorito.entry.image.url }}">
                        <div class="card-favoritos-body">
                            <h3 class="card-favoritos-body-titulo">{{ favorito.entry.title}}</h3>
                            <p class="card-favoritos-body-text">{{ favorito.entry.resume }}</p>
                            <form class="card-favoritos-body-actions" method="post" action="{% url 'favoritos_app:del-fav' favorito.id %}">
                                {% csrf_token %}
                                <a class="button warning" href="{% url 'entrada:entry-detalle' favorito.entry.id %}">Ver</a>
                                <button class="button alert" type="submit">Eliminar</button>
                            </form>
                        </div>
                    </div>
                {% empty %}
                <h3 style="color:chartreuse;">No tienes Blogs favoritos...</h3>
                {% endfor %}
                    
                
        </div>
        <!-- FIN bloque de articulos favoritos de usuario -->
    </div>
</div>
{% include "includes/footer.html" %}

{% endblock content %}